<!-- include A-Frame obviously -->
<script src="https://aframe.io/releases/0.6.0/aframe.min.js"></script>
<!-- include ar.js for A-Frame -->
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
<body style='margin : 0px; overflow: hidden;'>
  <a-scene embedded arjs='sourceType: webcam;'>
    <!-- handle marker with your own pattern -->
    <a-marker preset="hiro">
      <a-cylinder radius="0.5" height="1" position='0 0.5 0' material='color: red;' rotation="-90 0 0"></a-cylinder>
    </a-marker>

    <a-entity camera></a-entity>
  </a-scene>
</body>