<!-- include A-Frame obviously -->
<script src="https://aframe.io/releases/0.6.0/aframe.min.js"></script>
<!-- include ar.js for A-Frame -->
<script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>

<script src="js/tracking-min.js"></script>
<script src="js/data/face-min.js"></script>
<script src="js/data/eye-min.js"></script>

<style>
  body { margin: 0; }

  .full {
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .hidden {
    display: none;
  }

  .controls {
    position: fixed;
    top: 0px;
    z-index: 9999;
  }

  canvas {
    position: fixed;
    height: 100%;
  }

  video {
    position: fixed;
    margin-left: -1000px;
  }

  p {
    background-color: rgb(161, 0, 0);
    cursor: pointer;
    padding: 5px 30px;
    margin: 0;
    border: 1px solid black;
  }

  p.active {
    background-color: rgb(0, 110, 0);
  }

  /* video, canvas {
    width: 50%;
    height: 100%;
    float: left;
  } */
</style>

<img id="hidden" class="hidden" src="images/antifaz.png" >

<div class="full">
  <video id="video" width="500" height="400" autoplay></video>
  <canvas id="canvas" width="500" height="400"></canvas>
  <img id="snapshot" src="" class="hidden">
</div>

<div class="controls">
  <!-- <p class="active" onclick="greenFace = !greenFace; this.classList.add(greenFace ? 'active' : 'a'); this.classList.remove(greenFace ? 'a' : 'active');">Green Face</p> -->
  <p class="active" onclick="maskFace = !maskFace; this.classList.add(maskFace ? 'active' : 'a'); this.classList.remove(maskFace ? 'a' : 'active');">Mask Face</p>
</div>

<script src="js/video.js"></script>